@model ConsumeCampaignAPI.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div class="form-group">
                <label asp-for="Email" class="control-label">Agent ID:</label>
                <input asp-for="Email" class="form-control" required>
            </div>
            <br />
            <div class="form-group">
                <input type="Submit" value="Login" class="btn btn-primary" />
            </div>

        </form>
    </div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
</div>